body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #131313;
    color: #ffffff;
}
.container {
    background-color: #131313; 
    color: #fff; 
    padding: 20px;
}
.project {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #1b1b1b;
    border-radius: 8px;
}
.project h2 {
    margin-top: 0;
    font-size: 24px;
}
.project a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}
.project a:hover {
    text-decoration: underline;
}
.update{
    margin-top: -12px;
    color: #dadada;
    font-size: 15px;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #131313;
}

::-webkit-scrollbar-thumb {
    background: #1b1b1b;
}
footer {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 15px;
    padding: 10px 0;
    background-color: #131313;
    position: relative;
    bottom: 0;
    width: 100%;
}
