body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(0, 0, 0, 0.67);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

input, select, button {
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #00bcd4;
    color: white;
    border: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff9800;
}

#output {
    margin-top: 20px;
}

#output p {
    margin: 10px 0;
    font-size: 1.2em;
}

footer {
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.216);
    border-top: 1px solid #00bcd4;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
}
a{
    text-decoration: none;
    color: #ffffff;
}
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #131313;
}

::-webkit-scrollbar-thumb {
    background: #1b1b1b;
}
