body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    margin: 0;
    background-color: #131313;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

.container {
    flex: 1;
    padding: 0 20px; 
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

p {
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #656565;
    border-radius: 5px;
    resize: vertical;
    background-color: #1b1b1b;
    color: #fff;
}

pre {
    background-color: #1b1b1b;
    padding: 10px;
    border: 1px solid #656565;
    border-radius: 5px;
    overflow-x: auto;
    color: #fff;
    white-space: pre-wrap;
}

strong {
    color: #ff8282;
    font-weight: 800;
}

button, .secondary-button {
    background-color: #ff8282;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

button:hover, .secondary-button:hover {
    background-color: #e66464;
}

.secondary-button {
    margin-left: 10px;
}

footer {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 15px;
    padding: 10px 0;
    background-color: #131313;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #131313;
}

::-webkit-scrollbar-thumb {
    background: #1b1b1b;
}
