body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    overflow-y: scroll;
}

.container {
    background-color: rgba(0, 0, 0, 0.67);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 50px auto;
    max-width: 900px;
    width: 90%;
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.info, .updates, .links {
    margin-bottom: 30px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.link-button {
    display: inline-block;
    background-color: #00bcd4;
    color: #ffffff;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.link-button:hover {
    background-color: #ff9800;
    transform: translateY(-3px);
}

footer {
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.216);
    border-top: 1px solid #00bcd4;
    position: relative;
}
a{
    text-decoration: none;
    color: #ffffff;
}
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #131313;
}

::-webkit-scrollbar-thumb {
    background: #1b1b1b;
}
